<h1>Admin::Items#new</h1>
<!--管理者：商品新規登録画面-->
<div class="container">
  <h4>商品新規登録</h4>

  <div class="new_item_content">
    <%= form_with model: @item, url: admin_items_path do |f| %>
      <p>
        <%= f.label '商品画像' %>
        <%= f.file_field :image, accept: "image/*" %>
      </p>
      <p>
        <%= f.label '商品名' %>
        <%= f.text_field :name, autofocus: true %>
      </p>
      <p>
        <%= f.label '商品説明' %>
        <%= f.text_area :introduction %>
      </p>
      <p>
        <%= f.label 'ジャンル' %>
        <%= f.collection_select :genre_id, Genre.all, :id, :name, {prompt: "--選択して下さい--"} %>
      </p>
      <p>
        <%= f.label '税抜価格' %>
        <%= f.text_field :price %>
        <span>円</span>
      </p>
      <p>
        <%= f.label '販売ステータス' %>
        <%= f.label :is_active, '販売中', value: 1 %>
        <%= f.radio_button :is_active, 1 %>
        <%= f.label :is_active, '販売停止中', value: 2 %>
        <%= f.radio_button :is_active, 2 %>
      </p>
      <p>
        <%= f.submit '新規登録' %>
      </p>
    <% end %>
  </div>
</div>