<h1>Admin::Customers#edit</h1>
<!--管理者：顧客編集画面-->
<div class="container">
  <h4><%= @customer.first_name %><%= @customer.last_name %>さんの会員詳細</h4>

  <div class="customer-container">
    <p>
      会員ID
      <%= @customer.id %>
    </p>
    <%= form_with model: @customer, url:  admin_customer_path(@customer) do |f| %>
      <p>
        <%= f.label '氏名' %>
        <%= f.text_field :first_name %><%= f.text_field :last_name %>
      </p>
      <p>
        <%= f.label 'フリガナ' %>
        <%= f.text_field :first_name_kana %><%= f.text_field :last_name_kana %>
      </p>
      <p>
        <%= f.label '郵便番号' %>
        <%= f.text_field :postal_code %>
      </p>
      <p>
        <%= f.label '住所' %>
        <%= f.text_field :address %>
      </p>
      <p>
        <%= f.label '電話番号' %>
        <%= f.text_field :telephone_number %>
      </p>
      <p>
        <%= f.label 'メールアドレス' %>
        <%= f.text_field :email %>
      </p>
      <!--<p>-->
      <!--  <%#= f.label '会員ステータス' %>-->
      <!--  <%#= f.label :is_deleted, '有効', value: 1 %>-->
      <!--  <%#= radio_button :is_deleted, 1 %>-->
      <!--  <%#= f.label :is_deleted, '退会', value: 2 %>-->
      <!--  <%#= radio_button :is_deleted, 2 %>-->
      <!--</p>-->
      <p>
        <%= f.submit '変更を保存' %>
      </p>
    <% end %>
  </div>
</div>